<%# This will auto-reload the page every 60s %>
<meta http-equiv="refresh" content="60" />
<div class="shadow-sm p-3 mb-6 bg-white rounded">
  <p id="notice"><%= notice %></p>

  <header>
    <div class="blog-header-logo text-dark text-center title-text">National Vaccine Availability</div>
    <div class="blog-header-logo text-dark text-center title-text">CVS</div>
    <div class="text-center vaxxmax-logo-text"><%= image_tag("vaccine-logo1-sm.png")%></div>
    <div class="text-dark text-center" href="#">VaxxMax&nbsp;&nbsp;</div>
    <br>

    <div class="row justify-content-between align-items-center">
      <div class="col-12 text-center">
        <div class="blog-header-small text-dark" href="#">
          <code class="text-black">This tool is free, but donations to cover hosting & development costs are welcome. Thanks!</code><br>
          <a href="https://www.paypal.com/donate?business=9SM3XLXSS9RVN&item_name=Help+pay+for+VaxxMaxx+hosting+and+server+costs.&currency_code=USD" target="_blank">
            <button class=" btn btn-md btn-outline-primary">
              <code class="text-dark">Contribute via PayPal</code>
            </button>    
          </a>   
          <button class="btn btn-md btn-outline-primary" id="bitcoin" data-toggle="modal" data-target="#bitcoinModal">
            <code class="text-dark">Contribute via Bitcoin</code>
          </button>                 
        </div>
      </div>
    </div>
    
    <div class="row dropdowns">
      <div class="col-sm">
        <div class="dropdown">
          <select name="provider" id="provider" class="form-control">
            <option value="riteaid">Rite Aid</option>
            <option value="cvs">CVS</option>
            <option value="health_mart">Health Mart</option>
            <option value="walgreens">Walgreens</option>
          </select>
        </div>      
      </div>
      <div class="col-sm text-center">
        <code class="text-black">Facebook: <a href="https://www.facebook.com/vaxxmax" target="_blank">https://www.facebook.com/vaxxmax</a></code><br>
        <code class="text-black">Data is updated approximately every 5 minutes.</code><br>
          <button class="btn btn-xs btn-outline-primary changelog" id="changelog" data-toggle="modal" data-target="#changelogModal">
            <code class="text-dark">What's New!</code>
          </button>
      </div>
      <div class="col-sm">
        <%= select_tag "state-select-cvs", options_for_select(@states_cvs, session[:state_cvs]), prompt: 'Select State', class: "form-control" %>
      </div>
    </div>
  </header>
</div>

<div class="shadow-sm p-3 mb-6 bg-white rounded">
  <p class="text-center">Welcome to VaxxMax. This is the CVS vaccine slot finder page. Note this page is in beta form at this time.<br>
  You'll want to go here first: <a href="https://www.cvs.com/vaccine/intake/store/covid-screener/covid-qns" target="_blank">https://www.cvs.com/vaccine/intake/store/covid-screener/covid-qns</a>.<br>
    After required pre-qualification, refer back to the VaxxMax site for availabilities.<br>
  </p>

  <p class="text-center">
    The below locations have been recently updated and have the best probability of a slot being open based on the "Last Updated" date field.
  </p>
  
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed" id="locations">
      <thead class="thead-dark">
        <tr>
          <th>Availability</th>
          <th>Town / City</th>
          <th class="text-center">State</th>      
          <th class="text-center">Zip</th>
          <th class="text-center">County</th>
          <th>Last Updated</th>
          <th>Became Available</th>
          <th class="text-center">Distance (mi)</th>           
        </tr>
      </thead>

      <tbody>
        <% @locations.each do |location| %>
          <tr>
            <td class="text-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill text-green" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </svg>   
            </td>
            <td><%= location.name %></td>
            <td class="text-center"><%= location.state %></td>
            <td class="text-center">
              <span id="zip-<%= location.id %>"><%= location.zip %></span>
              <button class="btn btn-xs btn-outline-primary" data-clipboard-target="#zip-<%= location.id %>">
                Copy
              </button> 
            </td>
            <td><%= location.county %></td>
            <td>
              <%= content_tag(:span, location.last_updated&.strftime('%m-%e-%Y, %H:%M:%S'), style: 'display:none') %>
              <%= time_ago_in_words(location.last_updated) %> ago
            </td>
            <td>
              <%= content_tag(:span, location.when_available&.strftime('%m-%e-%Y, %H:%M:%S'), style: 'display:none') %>
              <%= time_ago_in_words(location.when_available) %> ago
            </td>
            <td class="text-center">
              <%= location.distance(@user_ip, @zipcode, location).to_i %> 
            </td>             
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div id="provider_status" value="cvs" style="visibility: hidden"></div>

<script>
  $('#locations').DataTable(
    {
      "iDisplayLength": 25,
      "order": [[ 5, "desc" ]],
      "oLanguage": {
        "sSearch": "Search: "
      }
    }
  );

  $(document).ready(function() {
    $("#provider").on('change', function(){
      console.log("provider onchangexx: " + $("#provider").val())
      if ($("#provider").val() == "health_mart") {
        localStorage['provider'] = "health_mart";
        document.location.href = '/health_mart';
      }
      
      if ($("#provider").val() == "walgreens") {
        localStorage['provider'] = "walgreens";
        document.location.href = '/walgreens';
      }
      if ($("#provider").val() == "riteaid") {
        localStorage['provider'] = "riteaid";
        document.location.href = '/riteaid';
      }
      if ($("#provider").val() == "cvs") {
        localStorage['provider'] = "cvs";
        document.location.href = '/cvs';
      }
    });

    page = document.getElementById('provider_status').getAttribute('value')
    if ( localStorage['provider'] == null ) {
      localStorage['provider'] = "riteaid";
      document.location.href = '/riteaid';
    }
    $("#provider").val(page)
  });
</script>