<%# This will auto-reload the page every 60s %>
<meta http-equiv="refresh" content="60" />
<div class="shadow-sm p-3 mb-5 bg-white rounded">
  <p id="notice"><%= notice %></p>

  <header class="blog-header py-3">

        <div class="blog-header-logo text-dark text-center" href="#">National Vaccine Availability</div>
     


    <br>

    <div class="row justify-content-between align-items-center">
      <div class="col-3 pt-3">
        <div><%= select_tag "provider-select", options_for_select(["Rite Aid - Nationwide Locations"], "-"), class: "form-control" %></div>
      </div>
      
      <div class="col-6 text-center">
        <div class="blog-header-small text-dark" href="#">
        
          <code class="text-black">I’m providing this tool for free, but could use help to cover hosting & development costs. Thanks!<br>
            <a href="https://www.paypal.com/donate?business=9SM3XLXSS9RVN&item_name=Help+pay+for+VaxxMaxx+hosting+and+server+costs.&currency_code=USD" target="_blank">
            <button class="btn btn-md btn-outline-primary">
              Contribute via PayPal
            </button>    
            </a>   
            <button class="btn btn-md btn-outline-primary" id="bitcoin" data-toggle="modal" data-target="#bitcoinModal">
              Contribure via Bitcoin
            </button>                 
          </code>
          <br><br>
          <code class="text-black">Facebook: <a href="https://www.facebook.com/vaxxmax" target="_blank">https://www.facebook.com/vaxxmax</a><br>    
          </code>
          <code class="text-black">Data is updated approximately every 5 minutes.</a><br>    
          </code>
        </a>      
        </div>
      </div>

      <div class="col-3 pt-3">  
        <div><%= select_tag "state-select", options_for_select(@states, session[:state]), class: "form-control" %></div>
      </div>
    </div>
  </header>

  <br><br>
  <p class="text-center">Welcome to VaxxMax. This is the Rite Aid vaccine slot finder page.
    You'll want to go here first: <a href="https://www.riteaid.com/pharmacy/apt-scheduler" target="_blank">https://www.riteaid.com/pharmacy/apt-scheduler</a>.<br>
    After pre-qualifying, find an available location below to copy / past on the Rite Aid page for scheduling. Note: this site is not mobile friendly (yet).<br>
     <a href="rite-aid-instructions.pdf" target="_blank">Detailed instructions can be found by clicking here.</a>
  
  </p>
</div>

<div class="shadow-sm p-3 mb-6 bg-white rounded">
  <p class="text-center">
    The below locations have been recently updated and have the best probability of a slot being open based on the "Last Updated" date field.
  </p>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed" id="locations">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">ID (Website)</th>
          <th class="text-center">Open Slots</th>      
          <th>Clickable Address (Google Maps)</th>
          <th>City</th>
          <th>State</th>
          <th>Last Updated</th>
          <th>Became Available</th>
        </tr>
      </thead>

      <tbody>
        <% @locations.each do |location| %>
          <tr>
            <td class="text-center"><%= link_to location.store_number, location&.rite_aid_location_website, target: :_blank %></td>
            <td class="text-center">
              <% if location.slot_1 %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill text-green" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>   
              <% else %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                </svg>           
              <% end %>
            </td>

            <td>
              <%= link_to location.full_address, location.google_search, id: "full-address-#{location.id}", target: :_blank %>
              <button class="btn btn-xs btn-outline-primary" data-clipboard-target="#full-address-<%= location.id %>">
                Copy
              </button>              
            </td>
            <td><%= location.city %></td>
            <td class="text-center"><%= location.state %></td>
            <td><%= location.last_updated&.in_time_zone("Eastern Time (US & Canada)")&.strftime("%m-%e-%Y, %l:%M %p") %></td>
            <td><%= location.when_available&.in_time_zone("Eastern Time (US & Canada)")&.strftime("%m-%e-%Y, %l:%M %p") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% if @locations_old.length > 0 %>
  <div class="shadow-sm p-3 mb-5 bg-white rounded">
    <p class="text-center">The below locations are stale and most likely do not have availability.</p>
    <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed" id="locations">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">ID (Website)</th>
          <th class="text-center">Open Slots</th>      
          <th>Clickable Address (Google Maps)</th>
          <th>City</th>
          <th>State</th>
          <th>Last Updated</th>
          <th>Became Available</th>
        </tr>
      </thead>

      <tbody>
        <% @locations_old.each do |location| %>
          <tr>
            <td class="text-center"><%= link_to location.store_number, location&.rite_aid_location_website, target: :_blank %></td>
            <td class="text-center">
              <% if location.slot_1 %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill text-green" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>   
              <% else %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                </svg>           
              <% end %>
            </td>

            <td>
              <%= link_to location.full_address, location.google_search, id: "full-address-#{location.id}", target: :_blank %>
              <button class="btn btn-xs btn-outline-primary" data-clipboard-target="#full-address-<%= location.id %>">
                Copy
              </button>              
            </td>
            <td><%= location.city %></td>
            <td class="text-center"><%= location.state %></td>
            <td><%= location.last_updated&.in_time_zone("Eastern Time (US & Canada)")&.strftime("%m-%e-%Y, %l:%M %p") %></td>
            <td><%= location.when_available&.in_time_zone("Eastern Time (US & Canada)")&.strftime("%m-%e-%Y, %l:%M %p") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-12 offset-md-2">
      <script type="text/javascript">
      amzn_assoc_tracking_id = "vaxxmax-20";
      amzn_assoc_ad_mode = "manual";
      amzn_assoc_ad_type = "smart";
      amzn_assoc_marketplace = "amazon";
      amzn_assoc_region = "US";
      amzn_assoc_design = "enhanced_links";
      amzn_assoc_asins = "B0871HBRV4";
      amzn_assoc_placement = "adunit";
      amzn_assoc_linkid = "8f098ffed6c1a30f3d68b0afec1d4ef8";
      </script>
      <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
    </div>
  </div>    
<p class="text-center">Please remember we all need to continue to wear masks.</p>

<p class="text-center text-justify">This site is not affiliated with or endorsed by Rite Aid or any other business or government agencies.<br>
  This site is for informational purposes only. The provided information may not be complete or accurate.</p>
<p class="text-center text-justify">Copyright © 2021 Adam Freemer. All rights reserved.</p>
<p class="text-center text-justify">Contact Information: <a href="https://www.linkedin.com/in/adamfreemer">LinkedIn</a> <a href="https://twitter.com/AdamFreemer">Twitter</a></p>
<p class="text-center text-justify">Release Version: 1.5.1</p>
<p class="text-center"><%= link_to 'Logs', logs_path %></p>

<div class="modal fade" id="bitcoinModal" tabindex="-1" role="dialog" aria-labelledby="bitcoinModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bitcoin Address For Donations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <div class="text-center"><b>16YKUhp9g4BWpKQSWsTvXR4K8CB55QYFVZ</b></div><br><br>
        <%= image_tag("btc.png", class: 'mx-auto d-block') %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  var clipboard = new ClipboardJS('.btn');
  clipboard.on('success', function (e) {
    console.log(e);
  });
  clipboard.on('error', function (e) {
    console.log(e);
  });
</script>
