<%# This will auto-reload the page every 60s %>
<meta http-equiv="refresh" content="60" />

<p id="notice"><%= notice %></p>

<header class="blog-header py-3">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-4 text-center">
      <div class="blog-header-logo text-dark" href="#">&nbsp;</div>
    </div>
    <div class="col-4 text-center">
      <div class="blog-header-logo text-dark" href="#">National Vaccine Availability</div>
    </div>
      <div class="col-4 text-center">
      <div class="blog-header-logo text-dark" href="#"></div>
    </div>  
  </div>

  <br>

  <div class="row justify-content-between align-items-center">
    <div class="col-3 pt-3">
      <div><%= select_tag "provider-select", options_for_select(["Rite Aid - Nationwide Locations"], "-"), class: "form-control" %></div>
    </div>
    
    <div class="col-4 text-center">
      <div class="blog-header-small text-dark" href="#">
      <a href="https://www.paypal.com/donate?business=9SM3XLXSS9RVN&item_name=Help+pay+for+VaxxMaxx+hosting+and+server+costs.&currency_code=USD" target="_blank">
        <code>I’m providing this tool for free but could use help to cover hosting & development costs. Thanks!<br>(Click here to contribute)</code>
      </a>
      </div>
    </div>

    <div class="col-3 pt-3">  
      <div><%= select_tag "state-select", options_for_select(@states, session[:state]), class: "form-control" %></div>
    </div>
  </div>
</header>
<br>

<table class="table table-striped table-bordered" id="locations">
  <thead class="thead-dark">
    <tr>
      <th>Store Number</th>
      <th>Store Website</th>
      <th>Shot 1 Avail</th>      
      <th>Shot 2 Avail</th>
      <th>Clickable Address (Google Maps)</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Last Updated</th>
      <th>Became Available</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.store_number %></td>
        <td><%= link_to "Store Website", location&.rite_aid_location_website, target: :_blank %></td>
        <td><%= location.slot_1 ? "Yes" : "No" %></td>
        <td><%= location.slot_2 ? "Yes" : "No" %></td>
        <td><%= link_to location.full_address, location.google_search, target: :_blank %></td>
        <td><%= location.city %></td>
        <td><%= location.state %></td>
        <td><%= location.zip %></td>
        <td><%= location.last_updated&.in_time_zone("Eastern Time (US & Canada)")&.strftime("%m-%e-%Y, %l:%M %p") %></td>
        <td><%= location.when_available&.in_time_zone("Eastern Time (US & Canada)")&.strftime("%m-%e-%Y, %l:%M %p") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Logs', logs_path %>
<br><br>
<p class="text-center">This site is not affiliated with or endorsed by Rite Aid or any other business or government agencies.<br>
This site is for informational purposes only. The provided information may not be complete or accurate.<br>
Copyright © 2021 Adam Freemer. All rights reserved.</p>
<p class="text-center">Contact Information: <a href="https://www.linkedin.com/in/adamfreemer">LinkedIn</a> <a href="https://twitter.com/AdamFreemer">Twitter</a></p>
