<div class="shadow-sm bg-white rounded press" id="press-section">
  <div class="d-flex justify-content-center align-items-center float ">
    <div class="col-md-2">
        <a class="thumbnail" href="https://www.newsweek.com/plan-your-vaccine-covid-website-1575694" target="_blank">
          <%= image_tag("press/newsweek.png", size: "150x80", class: "img-fluid")%>
        </a>
    </div>

    <div class="col-md-2 tribune">
        <a class="thumbnail" href="https://www.chicagotribune.com/coronavirus/vaccine/ct-aud-covid-vaccine-chicago-cb-20210311-ekhdv4zl45hd7a27wsykehna34-story.html" target="_blank">
          <%= image_tag("press/chicago_tribune.png", size: "200x120", class: "img-fluid")%>
        </a>
    </div>     

    <div class="col-md-2">
        <a class="thumbnail" href="https://www.nbcbayarea.com/news/coronavirus/tools-tricks-and-9-links-to-use-to-hunt-down-a-covid-19-vaccine-appointment/2508130/" target="_blank">
          <%= image_tag("press/nbc_bay_area.png", size: "200x70", class: "img-fluid")%>
        </a>
    </div>  

    <div class="col-md-2">
        <a class="thumbnail" href="https://www.kqed.org/news/11866747/when-covid-vaccine-websites-spring-up-what-and-who-gets-left-out" target="_blank">
          <%= image_tag("press/kqed.png", size: "200x50", class: "img-fluid")%>
        </a>
    </div>    

    <div class="col-md-2">
        <a class="thumbnail" href="https://fortune.com/2021/04/06/covid-vaccine-appointment-locator-where-to-find-vaccine-in-my-state-pharmacies-twitter-bots-facebook-groups-scheduling-sites/" target="_blank">
          <%= image_tag("press/fortune.png", size: "200x50", class: "img-fluid")%>
        </a>
    </div>    
  </div>
</div>
