<!DOCTYPE html>
<html>
  <head>    
    <meta name="description" content="VaxxMax provides users with up to the minute national vaccine availability to help them book a vaccination appoint."/>
    <meta property="og:image" content="<%= image_path('vaccine.jpg') %>" />
    <meta property="og:url" content="https://www.vaxxmax.com/">
    <meta property="og:site_name" content="VaxxMax">
    <meta property="fb:app_id" content="22166130048">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <!-- Datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <!-- Monumetric -->
    <script type="text/javascript" src="//monu.delivery/site/e/8/4ce5d2-26a2-492b-acc7-53a0d8e0a5e2.js" data-cfasync="false"></script>

    <title>Vaxx Max | National Vaccine Availability</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MBM5JPGJ69"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MBM5JPGJ69');
    </script>
    <script data-ad-client="ca-pub-2738817184624621" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
  </head>

  <body>
    <p><b>Valued Friends and Visitors</b>
    <br>At this time, VaxxMax data collection has been taken offline with this temporary placeholder image to remain in place.
    <br>The easiest way to get vaccinated moving forward is your local state, county and retail pharmacy websites.
    <br>Thank you for all your support and hard work in the vaccination effort! 
    <br><i>- The Vaxxmax Team | May 5th, 2021 -</i>
    </p>

    <div class="bg"></div>
    <br><br>
  </body>
</html>

<style>
  body, html {
    height: 100%;
  }
  .bg {
    background-image: url(<%= asset_path 'background.png' %>);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  }
  p {
    font-family:helvetica,sans-serif;
    text-align: center;
  }
  div {text-align: center;}
</style>
